<h1>Лабораторна робота 4</h1>
<h3>Лобунько Д.О, Обробка та аналіз БМД, БС-81</h3>

Сгенеруйте набір даних, що містить не менше 6 змінних. 
Частину змінних згенеруйте за нормальний розподілом, 
частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [1]:
import numpy as np
import pandas as pd


observations = 20
data1 = np.random.normal(0,5,observations)
data2 = np.random.normal(0,7,observations)
data3 = np.random.normal(0,9,observations)
data4 = np.random.uniform(-1,1,observations)
data5 = np.random.uniform(-2,2,observations)
data6 = np.random.uniform(-3,3,observations)
myData = pd.DataFrame(
{
    "data1_normal": data1,
    "data2_normal": data2,
    "data3_normal": data3,
    "data4_non_normal": data4,
    "data5_non_normal": data5,
    "data6_non_normal": data6
})
myData

,data1_normal,data2_normal,data3_normal,data4_non_normal,data5_non_normal,data6_non_normal
0,-4.263562,-5.421572,-12.531710,-0.177001,1.609170,-0.215204
1,6.672006,-5.837744,7.646047,-0.503500,0.067646,-1.586567
2,-3.066955,11.545012,-15.421504,-0.882810,0.721901,-2.513398
3,3.827565,-1.074211,8.334757,-0.446853,-1.468787,0.078814
4,-4.159342,-3.774111,-1.490839,0.139814,0.711978,-2.413285
5,0.767131,1.378705,4.161645,0.770751,1.791812,-1.947347
6,9.558940,-11.715634,-2.779552,-0.461785,-0.702894,1.731168
7,1.863566,0.110394,-8.597906,-0.703517,1.571851,0.250241
8,4.464619,4.790627,13.699322,0.345997,-0.969023,0.782854
9,-6.613629,-9.812905,-2.736160,-0.937317,-0.412207,-0.318089
10,4.401325,1.459441,-1.969136,0.563125,-1.788290,2.579434
11,-5.716612,0.770684,-10.783608,-0.841492,1.379866,2.886237
12,-1.203064,3.451928,4.479367,0.249600,1.905266,-0.418134
13,7.201638,-13.843948,-8.840118,-0.785034,1.926077,-2.928499
14,6.840937,-2.170932,-16.550119,-0.170913,0.200998,-0.670874
15,-2.892214,3.633235,3.846100,0.624106,-0.438353,-2.961357
16,-2.678999,10.441656,-5.804415,-0.536291,1.010962,1.111659
17,1.174398,11.650310,-7.209985,0.627166,0.307191,1.856880
18,7.870732,-15.453602,-1.848642,0.842751,-1.139002,2.305319
19,-4.044719,2.427123,1.240414,0.378974,-1.453116,-1.634688

Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
Детальний опис роботи критерію та приклад його розрахунку: 
https://pdfs.semanticscholar.org/e4a7/42a4f0585b4e4069726f6628f4d4285a0827.pdf

In [2]:
def mean(data):
    sum = 0
    for i in range(len(data)):
        sum += data[i]
    return sum/len(data)

def ShapiroWilk(data_unsorted, a, W_alpha):
    data = []
    for i in range(len(data_unsorted)):
        data.append(data_unsorted[i])
    data.sort()
    
    s2 = 0
    for i in range(len(data)):
        s2 += (data[i] - mean(data))**2
        
    W_numerator = 0
    for i in range(len(a)):
        W_numerator += a[i]*(data[len(data)-i-1] - data[i])
    W = (W_numerator**2)/s2
    return W


a_exc = pd.read_excel("Coeficients for the W test for normality.xlsx")[observations]/10000
W_alpha = pd.read_excel("Рoints of the distribution of W.xlsx")[ 'Unnamed: 1'][observations]/1000

a = [a_exc[i] for i in range(observations//2)]

Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. 
Назва стовпчиків - Variable, Statistics, Distribution. Шаблон таблиці: 
https://drive.google.com/file/d/1gRNsk9UDhl_6GGkJ04q0cBWBgsJvTgI4/view?usp=sharing

In [3]:
table = pd.DataFrame(columns = ["Variable", "Statistics", "Distribution"])
table

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

Занести в стовпчик Variable назви змінних.

In [4]:
table["Variable"] = myData.keys()
table

           Variable Statistics Distribution
0      data1_normal        NaN          NaN
1      data2_normal        NaN          NaN
2      data3_normal        NaN          NaN
3  data4_non_normal        NaN          NaN
4  data5_non_normal        NaN          NaN
5  data6_non_normal        NaN          NaN

Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. 
Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal"

In [5]:
table["Distribution"] = [str(ShapiroWilk(myData[myData.keys()[i]], a, W_alpha))+
                         ("  normal" if i<3 else "  non-normal") for i in range(6)]
table

           Variable Statistics                    Distribution
0      data1_normal        NaN      0.9218945481415868  normal
1      data2_normal        NaN        0.94499071927443  normal
2      data3_normal        NaN      0.9676891112309696  normal
3  data4_non_normal        NaN  0.9028925432023254  non-normal
4  data5_non_normal        NaN  0.9206998529444265  non-normal
5  data6_non_normal        NaN  0.9355468351355694  non-normal

Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. 
Записати в таблицю. Форма запису: Середнє[стандартне відхилення].
Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [6]:
for i in range(6):
    if i < 3:
        table["Statistics"][i] = str(mean(myData[myData.keys()[i]])) + " [" + str(myData[myData.keys()[i]].std()) + "]"
    else:
        table["Statistics"][i] = str(myData[myData.keys()[i]].median()) + " [" + str(myData[myData.keys()[i]].quantile(0.25)) + ";" + str(myData[myData.keys()[i]].quantile(0.75)) + "]"
table

,Variable,Statistics,Distribution
0,data1_normal,1.0001879822246629 [5.08113297882005],0.9218945481415868 normal
1,data2_normal,-0.8722772195444634 [7.843949837821377],0.94499071927443 normal
2,data3_normal,-2.6578020614692734 [8.193625685082388],0.9676891112309696 normal
3,data4_non_normal,-0.1739569603510509 [-0.5780977182133389;0.425...,0.9028925432023254 non-normal
4,data5_non_normal,0.25409413850866946 [-0.7694262391259007;1.427...,0.9206998529444265 non-normal
5,data6_non_normal,-0.26664664739000976 [-1.7128526715840287;1.26...,0.9355468351355694 non-normal

Зберегти таблицю в пдф форматі

In [7]:
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages


fig, ax = plt.subplots(figsize=(20,10))
ax.axis('tight')
ax.axis('off')
ax.table(cellText=table.values,colLabels=table.columns,loc='center')

pp = PdfPages("myData.pdf")
pp.savefig(fig, bbox_inches='tight')
pp.close()